//////////////////////////////////////////////////
// COLORS

//////////////////////////////////////////////////
// FONTS
$font-small: 0.75rem; // 12px
$font-default: 1rem; // 16px
$font-medium: 1.25rem; // 20px
$font-large: 1.5rem; // 24px
//////////////////////////////////////////////////
// MEDIA QUERY MANAGER
